
html {
  font-family: 'Fredoka One', cursive;
  background-color: lightcoral;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

/* HEADER */
header {
  text-align: center;
}

header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

h1 {
  color: yellow;
  font-size: 5vw;
}

header img {
  width: 6vw;
  height: 6vw;
}

/* MAIN */
main {
  text-align: center;
}
