
html {
  font-family: 'Fredoka One', cursive;
  background-color: lightcoral;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
}

header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

h1 {
  color: yellow;
  font-size: 5vw;
  margin: 0;
}

header img {
  width: 6vw;
  height: 6vw;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.calculator {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  /* gap: 2vh; */
  /* display: inline-block; */
  padding: 2%;
  border-radius: 5%;
}

.screen {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-bottom: 2vh;
  border-radius: 5%;
}

.current-screen {
  background-color: lightcyan;
  border-radius: 3%;
  height: 5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1vh;
  font-size: 2em;
}

.current-operating-screen {
  background-color: lightcyan;
  border-radius: 3%;
  height: 5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.btn {
  flex: 1;
  background-color: darkcyan;
  color: gold;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  font-weight: bolder;
  border-style: none;
  border-radius: 5%;
  padding: 2vh;
  width: 8vh;
}

.row {
  display: flex;
  gap: 1vh;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%
}

.copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 0;
}

.copyright a {
  text-decoration: none;
  color: black;
}

.copyright a:hover {
  color: gold;
}
